body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 1;
  overflow-x: hidden; 
  overflow-y: scroll; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#topnav {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  transition: all 2s ease-in-out;
}

.ui.secondary.menu.after {
  display: flex;
  justify-content: center;
  position: fixed;
  min-width: 100%;
  background-color: rgb(255, 255, 255);
  transform: scale(1.1);
  box-shadow: 4px 4px 8px;
}

.location {
  float: right;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.8em;
}

.content.title {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: -0.8em;
}
.content a {
  color: #000;
}

.project.title a {
  font-weight: bold;
  margin-right: 0.1em;
}

.header-title {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}
#header-links {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}
#header-address {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

#bottomnav {
  transition: all 0.2s ease-in-out;
  height: .75em;
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(194, 149, 83, 0.242);
}
#bottomnav:hover {
  transform: scale(1.1);
  height: 3.5em;
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(255, 235, 205, 0.721);
  background: radial-gradient(circle at 50%, #fee5c0, transparent);
}

.ui.raised.very.padded.text.container.segment {
  margin-top: 20%;
  position: relative;
  min-width: 80%;
  z-index: 10;
}

.ui.inverted.vertical.masthead.center.aligned.segment {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -35%;
  min-height: 90%;
  width: 100%;
  position: absolute;
  z-index: 9;
  transform: translate3d(0px, 0px, 0px);
  margin-bottom: 40%;
}
#subHeader1 {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -35%;
  min-height: 90%;
  max-width: 0%;
  position: absolute;
  z-index: 9;
  /* transform: translate3d(0px, 0px, 0px); */
  margin-bottom: 40%;
}
#subHeader2 {
  overflow: hidden;
  margin-top: -35%;
  min-height: 90%;
  max-width: 0%;
  position: absolute;
  right: 0;
  z-index: 9;
  /* transform: translate3d(-1109px, 0px, 0px); */
}

.header.title {
  color: rgb(255, 255, 255);
  position: relative;
  margin: auto;
  font-size: 6em;
}
.sub.header.title {
  display: flex;
  justify-content: space-around;
  width: 100%;
  color: rgb(255, 255, 255);
  position: relative;
  margin: auto;
  margin-top: 10%;
  font-size: 6em;
  z-index: 12;
}
